# Ignore everything in this directory
*

# BUT, do NOT ignore these folders
!frontend
!backend
!DockerFile

# Don't ignore this .gitignore file itself
!.gitignore
!.dockerignore

# Ignore common IDE / OS files
.vscode
.DS_Store