# Ignore everything in this directory
*

# BUT, do NOT ignore these folders
!frontend
!backend

# Don't ignore this .gitignore file itself
!.gitignore

# Ignore common IDE / OS files
.vscode
.DS_Store