@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  /*font-size: 10px;*/
}

body {
  font-family: "Poppins", Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  /*font-size: 1.6rem;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
  min-height: 100vh;
  overflow-x: auto;
  overflow-y: auto;
}